body {
    font-family: 'Arial', sans-serif;
    background-color: #eef2f7;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.word-box {
    // border-radius: 100px 100px 100px 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 15px;
    width: 80%;
    text-align: left;
}
.word {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px 55% 5px 45%;
}
.left-collocation {
    color: #555;
    padding-left: 5px;
    font-size: 1.1rem;
}
.right-collocation {
    color: #555;
    padding-left: 60%;
    font-size: 1.1rem;
}
.center-collocation {
    color: #555;
    padding-left: 30%;
    // padding-top: 70px;
    font-size: 1.1rem;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 8px;
}
#first {
    background-color: #6ea5ff;
}
#second {
    background-color: #94bae3;
}
#third {
    background-color: #499af2;
}
.check-button {
    margin-top: 20px;
    margin-left: 45%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.check-button:hover {
    background-color: #0056b3;
}
.collapsible {
  background-color: #d9edf7;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #c0deed;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}