<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vocabulary Learning App">
    <meta name="author" content="Your Name">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/base.css">

</head>
<body>

<header>
    <nav class="navbar">
        <a href="/" class="btn">Main Page</a>
    </nav>
</header>

<main role="main" class="container">
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p> Depth of Vocab </p>
</footer>

</body>
</html>
