{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day {{ day }}, Level 3</title>
    <link rel="stylesheet" href="/static/css/level3.css">
</head>
<body>
    <h1>Day {{ day }}, Level 3 - Texts</h1>
    <button type="button" class="collapsible">Level 3</button>
        <div class="content">
          <p>Level 3 is Strategic Thinking.
              It is aimed at making students familiar with
              the context of words, that is, to understand and
              read in what context they are usually used. You are
              given several texts where you can familiarize yourself
              with the contexts of the studied words.
              <br> Good luck! You've got this.</p>
        </div>
    <div class="container">

        {% for word in texts %}
            <div class="word-box">
                <div class="word">{{ word.word }}</div>
                <div class="context">Contextual Text: {{ word.contextual }}</div>
            </div>
        {% endfor %}
    </div>
        <div class="button-container">
            <form method="get" action="{{ url_for('level2', plan=plan, day=day) }}">
                <button class="check-button" type="submit">Previous Level</button>
            </form>
        </div>
        <div class="button-container">
            <form method="get" action="{{ url_for('level4', plan=plan, day=day) }}">
                <button class="check-button" type="submit">Next Level</button>
            </form>
        </div>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
          }
    </script>
</body>
{% endblock %}
