<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to DepthOfVOcab</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Depth of Vocab</h1>
        <p>Your journey starts here!</p>
        <p>In this site you'll learn new vocabulary and master it!</p>
        <a href="/choose_plan" class="button">Start Learning</a>
    </div>
</body>
</html>